appdirs==1.4.3
beautifulsoup4==4.6.3
booleanOperations==0.8.1
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
commandlines==0.4.1
compreffor==0.4.6.post1
cu2qu==1.6.5
defcon==0.6.0
defusedxml==0.5.0
docutils==0.14
drawBot==3.117
Flask==1.0.2
font-v==0.7.1
-e git+git@github.com:thundernixon/fontbakery.git@e37a63d81360e893b624e8f1928b3c52ab144e5c#egg=fontbakery
fontdiffenator==0.5.1
-e git+https://github.com/googlei18n/fontmake.git@6b46de29ceb1e7515ef57aabd5d26582874c62c4#egg=fontmake
fontMath==0.4.9
fontParts==0.8.1
fontPens==0.1.0
-e git+https://github.com/fonttools/fonttools.git@0c4f11f5ffca711624ffd2f55c841857ced47b7c#egg=fonttools
freetype-py==2.0.0.post6
fs==2.1.2
-e git+https://github.com/googlefonts/gftools.git@c2f80a7ed18b455f301af90db0d253a8d2d60329#egg=gftools
gitdb2==2.0.4
GitPython==2.1.11
glyphsLib==3.1.4
google-apputils==0.4.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.1.0
MutatorMath==2.1.2
opentype-sanitizer==7.1.8
Pillow==5.3.0
protobuf==3.6.1
pycairo==1.18.0
pyclipper==1.1.0.post1
pyobjc==5.0
pyobjc-core==5.0
pyobjc-framework-Accounts==5.0
pyobjc-framework-AddressBook==5.0
pyobjc-framework-AdSupport==5.0
pyobjc-framework-AppleScriptKit==5.0
pyobjc-framework-AppleScriptObjC==5.0
pyobjc-framework-ApplicationServices==5.0
pyobjc-framework-Automator==5.0
pyobjc-framework-AVFoundation==5.0
pyobjc-framework-AVKit==5.0
pyobjc-framework-BusinessChat==5.0
pyobjc-framework-CalendarStore==5.0
pyobjc-framework-CFNetwork==5.0
pyobjc-framework-CloudKit==5.0
pyobjc-framework-Cocoa==5.0
pyobjc-framework-Collaboration==5.0
pyobjc-framework-ColorSync==5.0
pyobjc-framework-Contacts==5.0
pyobjc-framework-ContactsUI==5.0
pyobjc-framework-CoreAudio==5.0
pyobjc-framework-CoreAudioKit==5.0
pyobjc-framework-CoreBluetooth==5.0
pyobjc-framework-CoreData==5.0
pyobjc-framework-CoreLocation==5.0
pyobjc-framework-CoreMedia==5.0
pyobjc-framework-CoreMediaIO==5.0
pyobjc-framework-CoreML==5.0
pyobjc-framework-CoreServices==5.0
pyobjc-framework-CoreSpotlight==5.0
pyobjc-framework-CoreText==5.0
pyobjc-framework-CoreWLAN==5.0
pyobjc-framework-CryptoTokenKit==5.0
pyobjc-framework-DictionaryServices==5.0
pyobjc-framework-DiscRecording==5.0
pyobjc-framework-DiscRecordingUI==5.0
pyobjc-framework-DiskArbitration==5.0
pyobjc-framework-DVDPlayback==5.0
pyobjc-framework-EventKit==5.0
pyobjc-framework-ExceptionHandling==5.0
pyobjc-framework-ExternalAccessory==5.0
pyobjc-framework-FinderSync==5.0
pyobjc-framework-FSEvents==5.0
pyobjc-framework-GameCenter==5.0
pyobjc-framework-GameController==5.0
pyobjc-framework-GameKit==5.0
pyobjc-framework-GameplayKit==5.0
pyobjc-framework-ImageCaptureCore==5.0
pyobjc-framework-IMServicePlugIn==5.0
pyobjc-framework-InputMethodKit==5.0
pyobjc-framework-InstallerPlugins==5.0
pyobjc-framework-InstantMessage==5.0
pyobjc-framework-Intents==5.0
pyobjc-framework-IOSurface==5.0
pyobjc-framework-iTunesLibrary==5.0
pyobjc-framework-LatentSemanticMapping==5.0
pyobjc-framework-LaunchServices==5.0
pyobjc-framework-libdispatch==5.0
pyobjc-framework-LocalAuthentication==5.0
pyobjc-framework-MapKit==5.0
pyobjc-framework-MediaAccessibility==5.0
pyobjc-framework-MediaLibrary==5.0
pyobjc-framework-MediaPlayer==5.0
pyobjc-framework-MediaToolbox==5.0
pyobjc-framework-ModelIO==5.0
pyobjc-framework-MultipeerConnectivity==5.0
pyobjc-framework-NaturalLanguage==5.0
pyobjc-framework-NetFS==5.0
pyobjc-framework-Network==5.0
pyobjc-framework-NetworkExtension==5.0
pyobjc-framework-NotificationCenter==5.0
pyobjc-framework-OpenDirectory==5.0
pyobjc-framework-OSAKit==5.0
pyobjc-framework-Photos==5.0
pyobjc-framework-PhotosUI==5.0
pyobjc-framework-PreferencePanes==5.0
pyobjc-framework-PubSub==5.0
pyobjc-framework-QTKit==5.0
pyobjc-framework-Quartz==5.0
pyobjc-framework-SafariServices==5.0
pyobjc-framework-SceneKit==5.0
pyobjc-framework-ScreenSaver==5.0
pyobjc-framework-ScriptingBridge==5.0
pyobjc-framework-SearchKit==5.0
pyobjc-framework-Security==5.0
pyobjc-framework-SecurityFoundation==5.0
pyobjc-framework-SecurityInterface==5.0
pyobjc-framework-ServiceManagement==5.0
pyobjc-framework-Social==5.0
pyobjc-framework-SpriteKit==5.0
pyobjc-framework-StoreKit==5.0
pyobjc-framework-SyncServices==5.0
pyobjc-framework-SystemConfiguration==5.0
pyobjc-framework-UserNotifications==5.0
pyobjc-framework-VideoSubscriberAccount==5.0
pyobjc-framework-VideoToolbox==5.0
pyobjc-framework-Vision==5.0
pyobjc-framework-WebKit==5.0
python-dateutil==2.7.5
python-gflags==3.1.2
pytz==2018.7
requests==2.20.1
rethinkdb==2.3.0.post6
six==1.11.0
smmap2==2.0.4
tabulate==0.8.2
ttfautohint-py==0.4.2
ufo2ft==2.5.0
ufoLib==2.3.2
ufolint==0.3.3
uharfbuzz==0.3.0
unicodedata2==11.0.0
Unidecode==1.0.22
urllib3==1.24.1
Werkzeug==0.14.1
